<div class="viewContainer">
  <div class="viewSelector">
    <p class="viewSelectorTitle">Voir par :</p>
    <div class="changeView"></div>
    <div class="leftArrow" (click)="monthCalendarService.changeView()">
      <svg
        clip-rule="evenodd"
        fill-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m13.789 7.155c.141-.108.3-.157.456-.157.389 0 .755.306.755.749v8.501c0 .445-.367.75-.755.75-.157 0-.316-.05-.457-.159-1.554-1.203-4.199-3.252-5.498-4.258-.184-.142-.29-.36-.29-.592 0-.23.107-.449.291-.591zm-.289 7.563v-5.446l-3.522 2.719z"
          fill-rule="nonzero"
        />
      </svg>
    </div>
    <p class="viewSelected">{{ monthCalendarService.selectedView }}</p>
    <div class="rightArrow" (click)="monthCalendarService.changeView()">
      <svg
        clip-rule="evenodd"
        fill-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m10.211 7.155c-.141-.108-.3-.157-.456-.157-.389 0-.755.306-.755.749v8.501c0 .445.367.75.755.75.157 0 .316-.05.457-.159 1.554-1.203 4.199-3.252 5.498-4.258.184-.142.29-.36.29-.592 0-.23-.107-.449-.291-.591zm.289 7.563v-5.446l3.522 2.719z"
          fill-rule="nonzero"
        />
      </svg>
    </div>
    <div
      class="inputContainer"
      *ngIf="monthCalendarService.selectedView === 'Semaine'"
    >
      <input
        type="text"
        (click)="monthCalendarService.showSelect()"
        value=" Du {{
          monthCalendarService.monthWeeks[monthCalendarService.selectedWeek][0]
        }} au {{
          monthCalendarService.monthWeeks[monthCalendarService.selectedWeek][6]
        }}"
      />
      <select
        class="selectInput"
        [hidden]="monthCalendarService.showWeekChoice"
        (click)="monthCalendarService.showSelect()"
        multiple
      >
        <option
          *ngFor="let week of monthCalendarService.monthWeeks; let i = index"
          (click)="monthCalendarService.getSelectedWeek(i)"
        >
          Du {{ week[0] }} au {{ week[6] }}
        </option>
      </select>
    </div>
  </div>
  <h2 class="weekTitle" *ngIf="monthCalendarService.selectedView === 'Semaine'">
    Semaine du<br /><span>{{
      monthCalendarService.monthWeeks[monthCalendarService.selectedWeek][0]
    }}</span>
    au
    <span
      >{{
        monthCalendarService.monthWeeks[monthCalendarService.selectedWeek][6]
      }}
      {{
        monthCalendarService.monthInLetter[monthCalendarService.selectedMonth]
      }}</span
    >
  </h2>
  <ng-container
    class="viewContainer"
    [ngSwitch]="monthCalendarService.selectedView"
  >
    <app-calendar *ngSwitchCase="'Mois'"></app-calendar>
    <app-calendar-week-view *ngSwitchCase="'Semaine'"></app-calendar-week-view>
  </ng-container>
</div>
