:host{
    display: block;
    height: 80vh;
}

main{
    height: 100%;
}

.daysLabel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0;
}

.calendar {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.week{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;
}

.day{
    border: 1px solid gray;
    flex-grow: 1;
}

