<h2>
  {{ monthCalendarService.monthInLetter[monthCalendarService.selectedMonth] }}
  <span>{{ monthCalendarService.selectedYear }}</span>
</h2>
<div class="allComponent">
  <ul class="dayOfWeek">
    <li *ngFor="let day of monthCalendarService.weekDays">{{ day }}</li>
  </ul>
  <div class="calendar">
    <div
      class="prevDay"
      *ngFor="let day of monthCalendarService.prevMonth; let i = index"
    >
      {{ monthCalendarService.prevMonth[i] }}
    </div>
    <div
      class="day"
      *ngFor="let day of monthCalendarService.month; let j = index"
      [id]="j + 1"
      (click)="monthCalendarService.createRDV($event)"
    >
      {{ j + 1 }}
    </div>
    <div
      class="nextDay"
      *ngFor="let day of monthCalendarService.nextMonth; let k = index"
    >
      {{ monthCalendarService.nextMonth[k] }}
    </div>
  </div>
</div>
