<main>
  <form action="">
    <label for="mounth">Mois : </label>
    <input name="mounth" type="mounth" />
    <label for="year">Année : </label>
    <input name="year" type="year" />
  </form>
  <div class="daysLabel">
    <span>Lundi</span>
    <span>Mardi</span>
    <span>Mercredi</span>
    <span>Jeudi</span>
    <span>Vendredi</span>
    <span>Samedi</span>
    <span>Dimanche</span>
  </div>
  <div class="calendar" *ngIf="calendar.display == 'mounth'">
    <table class="calendar">
      <tr class="week" *ngFor="let week of calendar.mounthGrid; let i = index">
        <td
          class="day"
          *ngFor="let day of calendar.weekGrid; let j = index"
          id="`${i}`"
        ></td>
      </tr>
    </table>
  </div>
</main>
