fieldset {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  margin-right: 20px;
}

fieldset label {

  margin-bottom: 10px;
}

.warning {
  background-color: burlywood;
  color: brown;
}
.registered {
  text-align: center;
  font-size: larger;
  background-color: burlywood;
  color: brown;
}

